.sectionTitle {
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 400;
  color: var(--vice-font-color);
}

.sectionTitle a {
  text-decoration: none;
}

.sections {
  margin-left: 1rem;
}
