:root {
  --main-font-color: #333333;
  --vice-font-color: #333333aa;
  --header-bg-color: #ffffff88;
  --header-border-color: #eaeaea;
  --remark-header-color: #333333;
  --remark-header-underline-color: #dde4e9;
  --remark-quote-bg-color: #f7f9faee;
  --remark-quote-color: #2b3f52;
  --remark-quote-left-color: #dde4e9;
  --remark-table-header-bg-color: #cccccc;
  --remark-table-header-border-color: #cccccc;
  --remark-table-row-bg-color: white;
  --remark-table-2n-row-bg-color: #f8f8f8;
  --remark-table-row-border-color: #cccccc;
  --remark-span-border: #dddddd;
  --remark-span-border2: #333333;
  --remark-code-border-color: #eaeaea;
  --remark-code-bg-color: #f8f8f888;
  --remark-img-brightness: 1;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    transparent 0deg,
    #0885ff11 55deg,
    #54d6ff11 120deg,
    #0885ff11 160deg,
    transparent 360deg
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --main-font-color: #888888;
    --vice-font-color: #ccccccaa;
    --header-bg-color: #00000088;
    --header-border-color: #333333;
    --remark-header-color: #b3b3b3;
    --remark-header-underline-color: #dde4e9;
    --remark-quote-bg-color: #333333ee;
    --remark-quote-color: #8999a8;
    --remark-quote-left-color: #ccccccaa;
    --remark-table-header-bg-color: #cccccc;
    --remark-table-header-border-color: #cccccc;
    --remark-table-row-bg-color: white;
    --remark-table-2n-row-bg-color: #f8f8f8;
    --remark-table-row-border-color: #cccccc;
    --remark-span-border: #222222;
    --remark-span-border2: #dddddd;
    --remark-code-border-color: #eaeaea;
    --remark-code-bg-color: #f8f8f888;
    --remark-img-brightness: 0.7;
    background-color: black;
  }
}

:root {
  color: var(--main-font-color);
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: var(--foreground-rgb);
  /* background: linear-gradient(
    135deg,
    transparent,
    #e8f1e8,
    #eee7e4,
    transparent
  );
  background-attachment: fixed; */
}

body::after {
  content: "";
  top: 25%;
  left: 25%;
  position: fixed;
  filter: blur(45px);
  transform: translateZ(0);
  background: var(--primary-glow);
  width: 50vw;
  height: 50vh;
  z-index: -1;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

img {
  max-width: 100%;
  height: auto;
}
