.topBar {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .header {
    position: sticky;
    top: 0;
    height: 3rem;
    border-bottom: 1px solid var(--header-border-color);
    background: var(--header-bg-color);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .nav {
    width: 100%;
    max-width: 888px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    text-decoration: none;
  }
  
  .media_icon {
    vertical-align: middle;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
  }
  