.topBar {
    background-color: black;
    color: white;
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    height: 3rem;
    border-bottom: 1px solid #eaeaea;
    background: hsla(0, 0%, 100%, .8);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    min-width: 40rem;
}